.vscode
.vscode/*
.idea
.DS_Store
.run
lint-results.xml
tmp
*.log
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.gitsecret/keys/random_seed
!*.secret
services/ws-sender/external.env
services/ws-receiver/external.env
services/history-writer/external.env
services/history-loader/external.env
secret.env
services/history/external.env
